a{
    text-decoration: none;
}
li{
    list-style-type: none;
    font-size: 14px;
}
.btn{
      margin: 5px auto;
      text-align: right;
    
}
.navbar{
   margin: 0px;

}
.navbar-brand{
    font-family: 'Bangers', cursive;
    font-size: 5rem;
}
.container-fluid{
  height: 50%;
}
  #DeadLift{
    font-size: 24px;
    color:rgb(245, 241, 241);

}
.hidden{
 display: none;
}
.shown{
 display: inline-table;
}
.navbar-nav{
text-align: right;
margin-left: auto;
}

  .nav-item{
    padding: 0 18px;
}
  .nav-link{
    font-size: 1.6rem;
    font-family: 'Montserrat';

}
